# Скопируйте этот файл в .env и заполните значения:
#   cp .env.example .env

# База данных
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_NAME_DEVELOPMENT=chat_app_development
DB_NAME_TEST=chat_app_test
DB_NAME_PRODUCTION=chat_app_production
